<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>Internet Shop</display-name>

    <!-- Authentication Filter -->
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.internetshop.configurations.AuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>AuthenticationController</servlet-name>
        <servlet-class>com.internetshop.controller.AuthenticationController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AuthenticationController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AuthenticationController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AuthenticationController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>AuthenticationController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BlackListController</servlet-name>
        <servlet-class>com.internetshop.controller.BlackListController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BlackListController</servlet-name>
        <url-pattern>/black-list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>com.internetshop.controller.ProductController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/add-product</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/edit-product</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/save-product</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/delete-product</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>com.internetshop.controller.CartController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/add-to-cart</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/remove-from-cart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>com.internetshop.controller.OrderController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DebtorsController</servlet-name>
        <servlet-class>com.internetshop.controller.DebtorsController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DebtorsController</servlet-name>
        <url-pattern>/debtors</url-pattern>
    </servlet-mapping>
</web-app>
